dub.sdl
dscanner.ini

### D ###
# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
projectd

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

### D Patch ###
# Test Executables
*-test-*

# Comment to allow dub lock file to be version controlled as well
dub.selections.json

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
launch.json
tasks.json
.vs/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

.extern/build/
extern/build/stb_image.c
